/*Ini CSS*/
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.logo-icon {
  width: 135px;
}
.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav {
  display: flex;
}
nav a {
  color: black;
  text-align: center;
  padding: 8px;
  text-decoration: none;
  font-size: 14px;
}
nav a.active {
  background-color: #f2f2f2;
  color: #45d2b0;
}
nav a:hover {
  background-color: #45d2b0;
  color: white;
  border-radius: 15px;
  transition: 2ms;
}

.home-header > h1 {
  margin: 40px 0px 5px 0px;
}
.profile-header > h1 {
  margin: 40px 0px 15px 0px;
}
.home-article > p {
  margin: 3px 0px 20px 0px;
}
.photo-banner {
  height: 578px;
  background-image: url(../Assets/Banner1.jpg);
  background-size: cover;
  background-position: center;
}

.profile-container {
  display: flex;
  justify-content: space-around;
}

.profile-container > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-icon {
  width: 90px;
  height: 90px;
}

h5 {
  margin: 10px 0px 5px 0px;
}

footer > p {
  font-size: 12px;
  margin: 20px 5px 20px 0px;
  display: flex;
  justify-content: flex-end;
}
