/*Ini CSS*/
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  font-size: 32px;
  text-align: center;
}
.logo-icon {
  width: 135px;
}
.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}
nav {
  display: flex;
}
nav a {
  color: black;
  text-align: center;
  padding: 8px;
  text-decoration: none;
  font-size: 16px;
}
nav a.active {
  background-color: #f2f2f2;
  color: #45d2b0;
}
nav a:hover {
  background-color: #45d2b0;
  color: white;
  border-radius: 15px;
  transition: 2ms;
}

.home-header > h1 {
  margin: 40px 0px 5px 0px;
}

.home-article > p {
  margin: 3px 0px 20px 0px;
  text-align: center;
  font-size: 16px;
}

.photo-banner {
  height: 780px;
  background-size: cover;
  background-position: center;
}
.photo-1 {
  background-image: url(../Assets/new.banner1.jpg);
}
.photo-2 {
  background-image: url(../Assets/new.banner2.jpg);
}
.photo-3 {
  background-image: url(../Assets/new.banner3.jpg);
}
.photo-4 {
  background-image: url(../Assets/new.banner4.jpg);
}

.profile-header > h1 {
  margin: 40px 0px 15px 0px;
}

.profile-container {
  display: flex;
  justify-content: space-around;
  margin: 10px 0px 10px 0px;
}

.profile-container > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}

.profile-container > div:hover {
  transform: scale(1.1);
  transition: 5ms;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 2px 4px #666666;
}

.profile-icon {
  width: 90px;
  height: 90px;
}

h5 {
  margin: 10px 0px 5px 0px;
}

footer > p {
  font-size: 12px;
  margin: 0px 5px 0px 0px;
  display: flex;
  justify-content: flex-end;
}

.profile-card {
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 10px;
}

.card {
  width: fit-content;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 2px 4px #666666;
  margin: 15px;
}

.card-content {
  padding: 14px;
}

.card-content > h4 {
  font-size: 20px;
  margin: 3px 0px 8px 0px;
}

.card-content > p {
  font-size: 14px;
  margin-bottom: 0;
  text-align: justify;
}

.card-content > ul {
  padding-left: 12px;
  font-size: 14px;
  margin-bottom: 0;
}

li {
  padding-bottom: 2px;
}

.messages-form {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
}

.result-form {
  border: 1px solid;
  width: 450px;
  border-radius: 10px;
}

.result-form > p {
  padding: 8px;
  margin: 2px 0px;
}

.message-form-cont {
  border: 1px solid;
  border-radius: 10px;
  width: 400px;
  height: 370px;
}

.message-form-cont > form {
  padding: 12px;
}

textarea {
  width: 340px;
  height: 120px;
}

.name-input {
  border: none;
  border-bottom: 1px solid;
  padding: 0px;
}

button {
  margin-top: 5px;
  padding: 4px 10px;
  border-radius: 6px;
  background-color: #45d2b0;
  color: #f2f2f2;
}

button:hover {
  background-color: #23216e;
  color: #f2f2f2;
  transition: 5ms;
}

.date-input {
  border: none;
  border-bottom: 1px solid;
  padding: 6px 0px 0px 0px;
}

.port-card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-content: space-around;
  justify-content: space-around;
}

.port-card {
  width: 260px;
  height: 70px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 2px 4px #c1c1c1;
}

.port-content > img {
  width: 250px;
  height: 50px;
  padding: 11px 5px 7px 5px;
}
